# Distance Between 2 Cities the Haversine Formula

### Initialize Data Frames

In [1]:
# Imports Dependencies
import pandas as pd
import numpy as np

In [2]:
def gc_dist_np(lat1, lon1, lat2, lon2):
    """
    Using the Haversine Formula and presuming a spherical Earth with radius R this function  
        calculates the great circle distance (elevation not taken into account) between two points.
    
    Source: https://www.movable-type.co.uk/scripts/gis-faq-5.1.html
    Note: this method is not extremely accurate at short distances (<10km)
    
    Attributes:
        lat1 - Latitude of city 1
        lon1 - Longitude of city 1
        lat2 - Latitude of city 2
        lon2 - Longitude of city 2
        
    Returns:
        Distance in miles
    """
    R = 3956 # Approximate radius of the earth in statute miles
    
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a)) # great circle distance in radians

    return R * c

In [3]:
openings_df = pd.read_table('openings_by_city_lat_long.csv', sep=',')

In [4]:
openings_df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [5]:
openings_df.rename(columns={"long": "lon"})

                       city  openings        lat         lon
0              New York, NY       169  40.712775  -74.005973
1                Boston, MA       158  42.360083  -71.058880
2             Charlotte, NC       106  35.227087  -80.843127
3          Philadelphia, PA       102  39.952584  -75.165222
4                Irving, TX       101  32.814018  -96.948894
5                Yakima, WA        99  46.602071 -120.505899
6         San Francisco, CA        60  37.774929 -122.419415
7             Arlington, VA        48  38.881621  -77.090981
8               Chicago, IL        31  41.878114  -87.629798
9          Conshohocken, PA        23  40.079277  -75.301571
10               Austin, TX        20  30.267153  -97.743061
11           Washington, DC        19  38.907192  -77.036871
12            Palo Alto, CA        17  37.441883 -122.143020
13              Seattle, WA        17  47.606209 -122.332071
14             Bellevue, WA        16  47.610150 -122.201516
15            Sunnyvale, CA        13  37.368830 -122.036350
16          Los Angeles, CA        12  34.052234 -118.243685
17              Houston, TX        12  29.760427  -95.369803
18             San Jose, CA        11  37.338208 -121.886329
19              Atlanta, GA        11  33.748995  -84.387982
20              Phoenix, AZ        11  33.448377 -112.074037
21   Santa Clara Valley, CA        10  37.248848 -121.839959
22          Santa Clara, CA         9  37.354108 -121.955236
23            Cambridge, MA         8  42.373616  -71.109733
24       Salt Lake City, UT         7  40.760779 -111.891047
25             Portland, OR         7  45.512231 -122.658719
26        Mountain View, CA         7  37.386052 -122.083851
27               Irvine, CA         7  33.684567 -117.826505
28                Plano, TX         6  33.019843  -96.698886
29              Redmond, WA         6  47.673988 -122.121512
..                      ...       ...        ...         ...
253         Spartanburg, SC         1  34.949567  -81.932048
254         Lake Oswego, OR         1  45.415682 -122.715973
255         Gray Summit, MO         1  38.489775  -90.816801
256       Ellicott City, MD         1  39.267328  -76.798307
257          Emeryville, CA         1  37.831316 -122.285247
258              Venice, CA         1  33.985047 -118.469483
259          Clearwater, FL         1  27.965853  -82.800103
260           Kalamazoo, MI         1  42.291707  -85.587229
261          Sugar Land, TX         1  29.619679  -95.634946
262          Burlington, NC         1  36.095692  -79.437799
263      Temple Terrace, FL         1  28.035296  -82.389260
264         Stony Brook, NY         1  40.925654  -73.140943
265            Montvale, NJ         1  41.046764  -74.022917
266              Murray, UT         1  40.666892 -111.887991
267           Manhattan, NY         1  40.783060  -73.971249
268        Garden Grove, CA         1  33.774269 -117.937995
269            Lagrange, KY         1  38.407567  -85.378847
270            Lakeland, FL         1  28.039465  -81.949804
271           Whitehall, MI         1  43.410011  -86.348679
272     Fort Lauderdale, FL         1  26.122439  -80.137317
273            Sterling, VA         1  39.006699  -77.429130
274            Lakewood, CO         1  39.704709 -105.081373
275             Bothell, WA         1  47.760111 -122.205445
276              Estero, FL         1  26.438136  -81.806752
277         Westminster, CA         1  33.759176 -117.989706
278        College Park, MD         1  38.989697  -76.937760
279          Northbrook, IL         1  42.127527  -87.828955
280          Birmingham, AL         1  33.518589  -86.810357
281          Des Moines, IA         1  41.586835  -93.624959
282            Santa Fe, NM         1  35.686975 -105.937799

[283 rows x 4 columns]

In [6]:
city_state_df = openings_df['city'].str.split(", ", n = 1, expand = True)
openings_df['city'] = city_state_df[0]
openings_df['state'] = city_state_df[1]

In [7]:
openings_df.sort_values(by=['state', 'lat'], inplace=True)

In [8]:
openings_df.head()

              city  openings        lat        long state
280     Birmingham         1  33.518589  -86.810357    AL
75      Huntsville         3  34.730369  -86.586104    AL
243    Little Rock         1  34.746481  -92.289595    AR
72          Conway         3  35.088696  -92.442101    AR
207  Fort Huachuca         1  31.555216 -110.349922    AZ

In [10]:
openings_df['dist (m)'] = gc_dist_np(openings_df.lat, \
                            openings_df.long, \
                            openings_df.lat.shift(), \
                            openings_df.long.shift())

In [ ]:
# city_lat_long_df['next_lat'] = city_lat_long_df.lat.shift()
# city_lat_long_df['next_long'] = city_lat_long_df.long.shift()
# city_lat_long_df['dist (m)'] = great_circle_distance_np(city_lat_long_df.lat, \
#                                 city_lat_long_df.long, city_lat_long_df.next_lat, city_lat_long_df.next_long)

In [11]:
openings_df

                   city  openings        lat        long state     dist (m)
280          Birmingham         1  33.518589  -86.810357    AL          NaN
75           Huntsville         3  34.730369  -86.586104    AL    84.643629
243         Little Rock         1  34.746481  -92.289595    AR   323.567439
72               Conway         3  35.088696  -92.442101    AR    25.156460
207       Fort Huachuca         1  31.555216 -110.349922    AZ  1059.977704
56                Tempe         3  33.425510 -111.940005    AZ   158.900808
20              Phoenix        11  33.448377 -112.074037    AZ     7.882354
31            San Diego         6  32.715738 -117.161084    CA   298.580131
131               Poway         2  32.962823 -117.035865    CA    18.542197
45             Carlsbad         4  33.158093 -117.350594    CA    22.659723
134         Aliso Viejo         1  33.568461 -117.726298    CA    35.667943
111       Newport Beach         2  33.618883 -117.929849    CA    12.213621
130          Costa Mesa         2  33.641216 -117.918822    CA     1.667197
27               Irvine         7  33.684567 -117.826505    CA     6.091365
277         Westminster         1  33.759176 -117.989706    CA    10.694668
268        Garden Grove         1  33.774269 -117.937995    CA     3.145713
189              Orange         1  33.787914 -117.853101    CA     4.962193
215          Buena Park         1  33.867404 -117.998139    CA     9.966327
258              Venice         1  33.985047 -118.469483    CA    28.198837
102        Santa Monica         2  34.019454 -118.491191    CA     2.680996
87          Culver City         2  34.021122 -118.396467    CA     5.422073
16          Los Angeles        12  34.052234 -118.243685    CA     9.001672
239            Redlands         1  34.055569 -117.182538    CA    60.702789
95             Glendale         2  34.142508 -118.255075    CA    61.614309
55             Pasadena         3  34.147785 -118.144515    CA     6.328210
174      Woodland Hills         1  34.165357 -118.608975    CA    26.564772
43        Thousand Oaks         4  34.170561 -118.837594    CA    13.065378
51        Santa Barbara         4  34.420831 -119.698190    CA    52.041666
122     San Luis Obispo         2  35.282752 -120.659616    CA    80.678429
21   Santa Clara Valley        10  37.248848 -121.839959    CA   150.812855
..                  ...       ...        ...         ...   ...          ...
127     Charlottesville         2  38.029306  -78.476678    VA    66.048440
129            Manassas         2  38.750949  -77.475267    VA    73.617155
217         Springfield         1  38.789280  -77.187204    VA    15.731268
80           Alexandria         2  38.804835  -77.046921    VA     7.624857
7             Arlington        48  38.881621  -77.090981    VA     5.807027
120           Chantilly         2  38.894279  -77.431099    VA    18.299879
132              Vienna         2  38.901222  -77.265260    VA     8.924347
44               Tysons         4  38.918722  -77.231093    VA     2.197677
52               McLean         4  38.933868  -77.177260    VA     3.074823
42               Reston         4  38.958631  -77.357003    VA     9.802245
273            Sterling         1  39.006699  -77.429130    VA     5.099115
182            Leesburg         1  39.115662  -77.563601    VA    10.419877
85           Montpelier         2  44.260059  -72.575387    VT   438.346161
177           Vancouver         1  45.627226 -122.672731    WA  2409.647681
211              Kalama         1  46.008447 -122.844551    WA    27.589527
195            Richland         1  46.280420 -119.275200    WA   171.763341
5                Yakima        99  46.602071 -120.505899    WA    62.624570
159               Moses         1  47.130142 -119.278077    WA    68.474260
212          Moses Lake         1  47.130142 -119.278077    WA     0.000000
71               Renton         3  47.479693 -122.207922    WA   139.271479
13              Seattle        17  47.606209 -122.332071    WA    10.478008
14             Bellevue        16  47.610150 -122.201516    WA     6.083427
29              Redmond         6  47.673988 -122.121512    WA     5.768859
222            Kirkland         1  47.676893 -122.205983    WA     3.932204
275             Bothell         1  47.760111 -122.205445    WA     5.745881
186          Dodgeville         1  42.960274  -90.130124    WI  1578.995977
74            Milwaukee         3  43.038902  -87.906474    WI   112.415114
78              Madison         2  43.073052  -89.401230    WI    75.446997
188           Middleton         1  43.097217  -89.504288    WI     5.458105
117           Green Bay         2  44.513319  -88.013296    WI   122.794953

[283 rows x 6 columns]

In [ ]:
distance_bins = [0, 50]
group_names = ['metro']
city_lat_long_df['distance_bins'] = pd.cut(city_lat_long_df['dist'], distance_bins, labels = group_names)
city_lat_long_df

# District Summary

### Calculate District Summary Values

In [ ]:
# Calculate number of schools in District
district_schools_count = len(school_data.school_name.unique())

# Calculate total student count in District
district_student_total = student_data.student_name.count()

# Calculate total district budget
district_budget = school_data.budget.sum()

# Calculate average math and reading scores throught District
district_avg_math = student_data.math_score.mean()
district_avg_reading = student_data.reading_score.mean()

# Calculate percentage of students who scored 70% or better
district_pass_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
district_pass_math_percent = (district_pass_math / district_student_total) * 100

district_pass_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
district_pass_reading_percent = (district_pass_reading / district_student_total) * 100

# Calculate the average test score across the District
district_overall_pass_percent = (district_avg_math + district_avg_reading) / 2

### Display District Summary

In [ ]:
# Build dict to store District summary data calculated above
district_summary = pd.DataFrame({    
    'Total Schools': [district_schools_count],
    'Total Students': [district_student_total],
    'Total Budget': [district_budget],
    'Average Math Score': [district_avg_math],
    'Average Reading Score': [district_avg_math],
    '% Passing Math': [district_pass_math_percent],
    '% Passing Reading':[district_pass_reading_percent],
    '% Overall Passing Rate': [district_overall_pass_percent]})

# Display District summary data to terminal
district_summary

# School Summary

### Calculate School Summary Values

In [ ]:
# Group merged dataframe by school name & set dataframe index to school name
grouped_by_school = school_data_complete.set_index('school_name').groupby('school_name')

# Determine School types
school_types = school_data.set_index('school_name')['type']

# Calculate students per School
school_student_count = grouped_by_school['Student ID'].count()

# Determine each Schools budget
school_budget = school_data.set_index('school_name')['budget']

# Calculate budget per student
school_budget_per_student = school_data.set_index('school_name')['budget'] /\
                            school_data.set_index('school_name')['size']

# Calculate average math & reading scores by School
school_avg_math = grouped_by_school['math_score'].mean()
school_avg_reading = grouped_by_school['reading_score'].mean()

# Calculate percent math & reading passing rates by School
school_pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby \
                        ('school_name')['Student ID'].count() / school_student_count * 100

school_pass_reading_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby \
                        ('school_name')['Student ID'].count() / school_student_count * 100

# Calculate overall passing rate by School
school_pass_overall_percent = (school_pass_math_percent + school_pass_reading_percent) / 2

### Display School Summary

In [ ]:
# Build dict to store School summary data calculated above
school_summary = pd.DataFrame({
    'School Type': school_types,
    'Total Students': school_student_count,
    'Total School Budget': school_budget,
    'Per Student Budget': school_budget_per_student,
    'Average Math Score': school_avg_math,
    'Average Reading Score': school_avg_reading,
    '% Passing Math': school_pass_math_percent,
    '% Passing Reading': school_pass_reading_percent,
    'Overall Passing Rate': school_pass_overall_percent})

# Display District summary data to terminal
school_summary

# Top Performing Schools by Overall Passing Rate

In [ ]:
# Sort School summary dataframe created above on 'Overall Passing Rate' in descending order
school_summary_sorted_desc = school_summary.sort_values('Overall Passing Rate', ascending=False)

In [ ]:
# Display top 5 rows of School summary sorted above
school_summary_sorted_desc.head(5)

# Bottom Performing Schools by Overall Passing Rate

In [ ]:
# Determine the bottom performing 5 Schools by 'Overall Passing Rate' still in descending order & reverse order
bottom_schools_sorted_desc = school_summary_sorted_desc.tail(5)
bottom_schools_sorted_asc = bottom_schools_sorted_desc.sort_values('Overall Passing Rate')

In [ ]:
# Display bottom 5 rows of School summary (re)sorted above
bottom_schools_sorted_asc

# Average Math Scores by Grade

In [ ]:
# Determine Math scores for each grade by school
grade_09_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['math_score'].mean()
grade_10_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['math_score'].mean()
grade_11_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['math_score'].mean()
grade_12_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['math_score'].mean()

In [ ]:
# Build dict to store average math score summary data calculated above
avg_math_score_by_grade = pd.DataFrame({
                        '9th': grade_09_math,
                        '10th': grade_10_math,
                        '11th': grade_11_math,
                        '12th': grade_12_math})

# Print index header
avg_math_score_by_grade.index.name = 'School Name'

# Display average math score by grade data to terminal
avg_math_score_by_grade

# Average Reading Scores by Grade

In [ ]:
# Determine Reading scores for each grade by school
grade_09_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
grade_10_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
grade_11_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
grade_12_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

In [ ]:
# Build dict to store average Reading score summary data calculated above
avg_reading_score_by_grade = pd.DataFrame({
                        '9th': grade_09_reading,
                        '10th': grade_10_reading,
                        '11th': grade_11_reading,
                        '12th': grade_12_reading})

# Print index header
avg_reading_score_by_grade.index.name = 'School Name'

# Display average reading score by grade data to terminal
avg_reading_score_by_grade

# Scores by School Spending

In [ ]:
# Spending bins and group names given in starter code
spending_bins = [0, 585, 615, 645, 675]
group_names = ['< $585', '$585 - 615', '$615 - 644', '$645-675']

# Add another series to the combined dataframe created above
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/\
                        school_data_complete['size'], spending_bins, labels = group_names)

# Group updated dataframe by spending bins added above
complete_grouped_by_spending = school_data_complete.groupby('spending_bins')

### Calculate School Spending Summary Data

In [ ]:
# Calculate average math & reading score by spending bin
average_math_score_by_spend = complete_grouped_by_spending['math_score'].mean()
average_reading_score_by_spend = complete_grouped_by_spending['reading_score'].mean()

# Calculate students with passing math grades by spend
passing_math_percent_by_spend = school_data_complete[school_data_complete['math_score'] >= 70]\
                        .groupby('spending_bins')['Student ID'].count() / \
                        complete_grouped_by_spending['Student ID'].count() * 100

# Calculate students with passing reading grades by spend
passing_reading_percent_by_spend = school_data_complete[school_data_complete['reading_score'] >= 70]\
                            .groupby('spending_bins')['Student ID'].count() / \
                            complete_grouped_by_spending['Student ID'].count() * 100

# Calculate overall passing percentage by spend
overall_percent_by_spend = (passing_math_percent_by_spend + passing_reading_percent_by_spend) / 2

### Display School Spending Summary Data

In [ ]:
# Build dict to store school spending summary data calculated above
scores_by_school_spending = pd.DataFrame({
    'Average Math Score': average_math_score_by_spend,
    'Average Reading Score': average_reading_score_by_spend,
    '% Passing Math': passing_math_percent_by_spend,
    '% Passing Reading': passing_reading_percent_by_spend,
    'Overall Passing Rate': overall_percent_by_spend})

# Print index header
scores_by_school_spending.index.name = 'Spending per Student'
scores_by_school_spending = scores_by_school_spending.reindex(group_names)

# Display data to terminal
scores_by_school_spending

# Scores by School Size

In [ ]:
# Spending bins and group names given in starter code
size_bins = [0, 1000, 2000, 5000]
group_names = ['Small (<1000)', 'Medium(1000-2000)', 'Large(2000-5000)']

# Add another series to the combined dataframe created above
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], \
                                    size_bins, labels = group_names)

# Group updated dataframe by spending bins added above
complete_grouped_by_size = school_data_complete.groupby('size_bins')

### Calculate Score by School Size Summary Data

In [ ]:
# Calculate average math & reading score by spending bin
average_math_score_by_size = complete_grouped_by_size['math_score'].mean()
average_reading_score_by_size = complete_grouped_by_size['reading_score'].mean()

# Calculate students with passing math grades by spend
passing_math_percent_by_size = school_data_complete[school_data_complete['math_score'] >= 70]\
                        .groupby('size_bins')['Student ID'].count() / \
                        complete_grouped_by_size['Student ID'].count() * 100

# Calculate students with passing reading grades by spend
passing_reading_percent_by_size = school_data_complete[school_data_complete['reading_score'] >= 70]\
                            .groupby('size_bins')['Student ID'].count() / \
                            complete_grouped_by_size['Student ID'].count() * 100

# Calculate overall passing percentage by spend
overall_percent_by_size = (passing_math_percent_by_size + passing_reading_percent_by_size) / 2

### Display Score by School Size Summary Data

In [ ]:
# Build dict to store school spending summary data calculated above
scores_by_school_size = pd.DataFrame({
    'Average Math Score': average_math_score_by_size,
    'Average Reading Score': average_reading_score_by_size,
    '% Passing Math': passing_math_percent_by_size,
    '% Passing Reading': passing_reading_percent_by_size,
    'Overall Passing Rate': overall_percent_by_size})

# Print index header
scores_by_school_size.index.name = 'School Size'
scores_by_school_size = scores_by_school_size.reindex(group_names)

# Display data to terminal
scores_by_school_size

# Scores by School Type

In [ ]:
# Group update dataframe by spending bins added above
complete_grouped_by_type = school_data_complete.groupby('type')

### Calculate Score by School Type Summary Data

In [ ]:
# Calculate average math & reading score by spending bin
average_math_score_by_type = complete_grouped_by_type['math_score'].mean()
average_reading_score_by_type = complete_grouped_by_type['reading_score'].mean()

# Calculate students with passing math grades by spend
passing_math_percent_by_type = school_data_complete[school_data_complete['math_score'] >= 70]\
                        .groupby('type')['Student ID'].count() / \
                        complete_grouped_by_type['Student ID'].count() * 100

# Calculate students with passing reading grades by spend
passing_reading_percent_by_type = school_data_complete[school_data_complete['reading_score'] >= 70]\
                            .groupby('type')['Student ID'].count() / \
                            complete_grouped_by_type['Student ID'].count() * 100

# Calculate overall passing percentage by spend
overall_percent_by_type = (passing_math_percent_by_type + passing_reading_percent_by_type) / 2

### Display Score by School Type Summary Data

In [ ]:
# Build dict to store school spending summary data calculated above
scores_by_school_type = pd.DataFrame({
    'Average Math Score': average_math_score_by_type,
    'Average Reading Score': average_reading_score_by_type,
    '% Passing Math': passing_math_percent_by_type,
    '% Passing Reading': passing_reading_percent_by_type,
    'Overall Passing Rate': overall_percent_by_type})

# Print index header
scores_by_school_type.index.name = 'School Type'

# Display data to terminal
scores_by_school_type