# Pandas Binning - Jeff Fleischman

### Initialize Data Frames

In [147]:
# Imports Dependencies
import pandas as pd
import numpy as np

In [148]:
def great_circle_distance(lat1, lon1, lat2, lon2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees or in radians)

    All (lat, lon) coordinates must have numeric dtypes and be of equal length.

    """
    lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + \
        np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return 6371 * 2 * np.arcsin(np.sqrt(a))

In [149]:
city_lat_long_df= pd.read_table('openings_by_city_lat_long.csv', sep=',')

In [150]:
city_state_df = city_lat_long_df['city'].str.split(", ", n = 1, expand = True)
city_lat_long_df['new_city'] = city_state_df[0]

In [151]:
city_lat_long_df['state'] = city_state_df[1]

In [152]:
city_lat_long_df.sort_values(by=['state', 'lat'], inplace=True)

In [153]:
city_lat_long_df.drop(['Unnamed: 0', 'city'], axis=1, inplace=True)
city_lat_long_df.head()

     openings        lat        long       new_city state
280         1  33.518589  -86.810357     Birmingham    AL
75          3  34.730369  -86.586104     Huntsville    AL
243         1  34.746481  -92.289595    Little Rock    AR
72          3  35.088696  -92.442101         Conway    AR
207         1  31.555216 -110.349922  Fort Huachuca    AZ

In [154]:
city_lat_long_df['next_lat'] = city_lat_long_df.lat.shift()
city_lat_long_df['next_long'] = city_lat_long_df.long.shift()
city_lat_long_df['dist'] = great_circle_distance(city_lat_long_df.lat, city_lat_long_df.long, city_lat_long_df.next_lat, city_lat_long_df.next_long)

In [155]:
city_lat_long_df

,openings,lat,long,new_city,state,next_lat,next_long,dist
280,1,33.518589,-86.810357,Birmingham,AL,NaN,NaN,NaN
75,3,34.730369,-86.586104,Huntsville,AL,33.518589,-86.810357,136.315611
243,1,34.746481,-92.289595,Little Rock,AR,34.730369,-86.586104,521.094073
72,3,35.088696,-92.442101,Conway,AR,34.746481,-92.289595,40.513601
207,1,31.555216,-110.349922,Fort Huachuca,AZ,35.088696,-92.442101,1707.057116
56,3,33.425510,-111.940005,Tempe,AZ,31.555216,-110.349922,255.904209
20,11,33.448377,-112.074037,Phoenix,AZ,33.425510,-111.940005,12.694256
31,6,32.715738,-117.161084,San Diego,CA,33.448377,-112.074037,480.852886
131,2,32.962823,-117.035865,Poway,CA,32.715738,-117.161084,29.861562
45,4,33.158093,-117.350594,Carlsbad,CA,32.962823,-117.035865,36.492694
134,1,33.568461,-117.726298,Aliso Viejo,CA,33.158093,-117.350594,57.441978
111,2,33.618883,-117.929849,Newport Beach,CA,33.568461,-117.726298,19.669610
130,2,33.641216,-117.918822,Costa Mesa,CA,33.618883,-117.929849,2.684963
27,7,33.684567,-117.826505,Irvine,CA,33.641216,-117.918822,9.809931
277,1,33.759176,-117.989706,Westminster,CA,33.684567,-117.826505,17.223389
268,1,33.774269,-117.937995,Garden Grove,CA,33.759176,-117.989706,5.066062
189,1,33.787914,-117.853101,Orange,CA,33.774269,-117.937995,7.991439
215,1,33.867404,-117.998139,Buena Park,CA,33.787914,-117.853101,16.050422
258,1,33.985047,-118.469483,Venice,CA,33.867404,-117.998139,45.413243
102,2,34.019454,-118.491191,Santa Monica,CA,33.985047,-118.469483,4.317650
87,2,34.021122,-118.396467,Culver City,CA,34.019454,-118.491191,8.732059
16,12,34.052234,-118.243685,Los Angeles,CA,34.021122,-118.396467,14.496878
239,1,34.055569,-117.182538,Redlands,CA,34.052234,-118.243685,97.759725
95,2,34.142508,-118.255075,Glendale,CA,34.055569,-117.182538,99.227695
55,3,34.147785,-118.144515,Pasadena,CA,34.142508,-118.255075,10.191361
174,1,34.165357,-118.608975,Woodland Hills,CA,34.147785,-118.144515,42.781639
43,4,34.170561,-118.837594,Thousand Oaks,CA,34.165357,-118.608975,21.041336
51,4,34.420831,-119.698190,Santa Barbara,CA,34.170561,-118.837594,83.811287
122,2,35.282752,-120.659616,San Luis Obispo,CA,34.420831,-119.698190,129.929796
21,10,37.248848,-121.839959,Santa Clara Valley,CA,35.282752,-120.659616,242.878842
...,...,...,...,...,...,...,...,...
127,2,38.029306,-78.476678,Charlottesville,VA,37.540725,-77.436048,106.368709
129,2,38.750949,-77.475267,Manassas,VA,38.029306,-78.476678,118.557860
217,1,38.789280,-77.187204,Springfield,VA,38.750949,-77.475267,25.334658
80,2,38.804835,-77.046921,Alexandria,VA,38.789280,-77.187204,12.279566
7,48,38.881621,-77.090981,Arlington,VA,38.804835,-77.046921,9.352014
120,2,38.894279,-77.431099,Chantilly,VA,38.881621,-77.090981,29.471317
132,2,38.901222,-77.265260,Vienna,VA,38.894279,-77.431099,14.372349
44,4,38.918722,-77.231093,Tysons,VA,38.901222,-77.265260,3.539282
52,4,38.933868,-77.177260,McLean,VA,38.918722,-77.231093,4.951895
42,4,38.958631,-77.357003,Reston,VA,38.933868,-77.177260,15.786173
273,1,39.006699,-77.429130,Sterling,VA,38.958631,-77.357003,8.211948
182,1,39.115662,-77.563601,Leesburg,VA,39.006699,-77.429130,16.780848
85,2,44.260059,-72.575387,Montpelier,VT,39.115662,-77.563601,705.941202
177,1,45.627226,-122.672731,Vancouver,WA,44.260059,-72.575387,3880.653532
211,1,46.008447,-122.844551,Kalama,WA,45.627226,-122.672731,44.431971
195,1,46.280420,-119.275200,Richland,WA,46.008447,-122.844551,276.618868
5,99,46.602071,-120.505899,Yakima,WA,46.280420,-119.275200,100.854686
159,1,47.130142,-119.278077,Moses,WA,46.602071,-120.505899,110.275406
212,1,47.130142,-119.278077,Moses Lake,WA,47.130142,-119.278077,0.000000
71,3,47.479693,-122.207922,Renton,WA,47.130142,-119.278077,224.291859
13,17,47.606209,-122.332071,Seattle,WA,47.479693,-122.207922,16.874466
14,16,47.610150,-122.201516,Bellevue,WA,47.606209,-122.332071,9.797146
29,6,47.673988,-122.121512,Redmond,WA,47.610150,-122.201516,9.290547
222,1,47.676893,-122.205983,Kirkland,WA,47.673988,-122.121512,6.332677
275,1,47.760111,-122.205445,Bothell,WA,47.676893,-122.205983,9.253540
186,1,42.960274,-90.130124,Dodgeville,WI,47.760111,-122.205445,2542.917940
74,3,43.038902,-87.906474,Milwaukee,WI,42.960274,-90.130124,181.040620
78,2,43.073052,-89.401230,Madison,WI,43.038902,-87.906474,121.504757
188,1,43.097217,-89.504288,Middleton,WI,43.073052,-89.401230,8.790087
117,2,44.513319,-88.013296,Green Bay,WI,43.097217,-89.504288,197.756989

In [161]:
distance_bins = [0, 50]
group_names = ['metro']
city_lat_long_df['distance_bins'] = pd.cut(city_lat_long_df['dist'], distance_bins, labels = group_names)
city_lat_long_df

,openings,lat,long,new_city,state,next_lat,next_long,dist,distance_bins
280,1,33.518589,-86.810357,Birmingham,AL,NaN,NaN,NaN,NaN
75,3,34.730369,-86.586104,Huntsville,AL,33.518589,-86.810357,136.315611,NaN
243,1,34.746481,-92.289595,Little Rock,AR,34.730369,-86.586104,521.094073,NaN
72,3,35.088696,-92.442101,Conway,AR,34.746481,-92.289595,40.513601,metro
207,1,31.555216,-110.349922,Fort Huachuca,AZ,35.088696,-92.442101,1707.057116,NaN
56,3,33.425510,-111.940005,Tempe,AZ,31.555216,-110.349922,255.904209,NaN
20,11,33.448377,-112.074037,Phoenix,AZ,33.425510,-111.940005,12.694256,metro
31,6,32.715738,-117.161084,San Diego,CA,33.448377,-112.074037,480.852886,NaN
131,2,32.962823,-117.035865,Poway,CA,32.715738,-117.161084,29.861562,metro
45,4,33.158093,-117.350594,Carlsbad,CA,32.962823,-117.035865,36.492694,metro
134,1,33.568461,-117.726298,Aliso Viejo,CA,33.158093,-117.350594,57.441978,NaN
111,2,33.618883,-117.929849,Newport Beach,CA,33.568461,-117.726298,19.669610,metro
130,2,33.641216,-117.918822,Costa Mesa,CA,33.618883,-117.929849,2.684963,metro
27,7,33.684567,-117.826505,Irvine,CA,33.641216,-117.918822,9.809931,metro
277,1,33.759176,-117.989706,Westminster,CA,33.684567,-117.826505,17.223389,metro
268,1,33.774269,-117.937995,Garden Grove,CA,33.759176,-117.989706,5.066062,metro
189,1,33.787914,-117.853101,Orange,CA,33.774269,-117.937995,7.991439,metro
215,1,33.867404,-117.998139,Buena Park,CA,33.787914,-117.853101,16.050422,metro
258,1,33.985047,-118.469483,Venice,CA,33.867404,-117.998139,45.413243,metro
102,2,34.019454,-118.491191,Santa Monica,CA,33.985047,-118.469483,4.317650,metro
87,2,34.021122,-118.396467,Culver City,CA,34.019454,-118.491191,8.732059,metro
16,12,34.052234,-118.243685,Los Angeles,CA,34.021122,-118.396467,14.496878,metro
239,1,34.055569,-117.182538,Redlands,CA,34.052234,-118.243685,97.759725,NaN
95,2,34.142508,-118.255075,Glendale,CA,34.055569,-117.182538,99.227695,NaN
55,3,34.147785,-118.144515,Pasadena,CA,34.142508,-118.255075,10.191361,metro
174,1,34.165357,-118.608975,Woodland Hills,CA,34.147785,-118.144515,42.781639,metro
43,4,34.170561,-118.837594,Thousand Oaks,CA,34.165357,-118.608975,21.041336,metro
51,4,34.420831,-119.698190,Santa Barbara,CA,34.170561,-118.837594,83.811287,NaN
122,2,35.282752,-120.659616,San Luis Obispo,CA,34.420831,-119.698190,129.929796,NaN
21,10,37.248848,-121.839959,Santa Clara Valley,CA,35.282752,-120.659616,242.878842,NaN
...,...,...,...,...,...,...,...,...,...
127,2,38.029306,-78.476678,Charlottesville,VA,37.540725,-77.436048,106.368709,NaN
129,2,38.750949,-77.475267,Manassas,VA,38.029306,-78.476678,118.557860,NaN
217,1,38.789280,-77.187204,Springfield,VA,38.750949,-77.475267,25.334658,metro
80,2,38.804835,-77.046921,Alexandria,VA,38.789280,-77.187204,12.279566,metro
7,48,38.881621,-77.090981,Arlington,VA,38.804835,-77.046921,9.352014,metro
120,2,38.894279,-77.431099,Chantilly,VA,38.881621,-77.090981,29.471317,metro
132,2,38.901222,-77.265260,Vienna,VA,38.894279,-77.431099,14.372349,metro
44,4,38.918722,-77.231093,Tysons,VA,38.901222,-77.265260,3.539282,metro
52,4,38.933868,-77.177260,McLean,VA,38.918722,-77.231093,4.951895,metro
42,4,38.958631,-77.357003,Reston,VA,38.933868,-77.177260,15.786173,metro
273,1,39.006699,-77.429130,Sterling,VA,38.958631,-77.357003,8.211948,metro
182,1,39.115662,-77.563601,Leesburg,VA,39.006699,-77.429130,16.780848,metro
85,2,44.260059,-72.575387,Montpelier,VT,39.115662,-77.563601,705.941202,NaN
177,1,45.627226,-122.672731,Vancouver,WA,44.260059,-72.575387,3880.653532,NaN
211,1,46.008447,-122.844551,Kalama,WA,45.627226,-122.672731,44.431971,metro
195,1,46.280420,-119.275200,Richland,WA,46.008447,-122.844551,276.618868,NaN
5,99,46.602071,-120.505899,Yakima,WA,46.280420,-119.275200,100.854686,NaN
159,1,47.130142,-119.278077,Moses,WA,46.602071,-120.505899,110.275406,NaN
212,1,47.130142,-119.278077,Moses Lake,WA,47.130142,-119.278077,0.000000,NaN
71,3,47.479693,-122.207922,Renton,WA,47.130142,-119.278077,224.291859,NaN
13,17,47.606209,-122.332071,Seattle,WA,47.479693,-122.207922,16.874466,metro
14,16,47.610150,-122.201516,Bellevue,WA,47.606209,-122.332071,9.797146,metro
29,6,47.673988,-122.121512,Redmond,WA,47.610150,-122.201516,9.290547,metro
222,1,47.676893,-122.205983,Kirkland,WA,47.673988,-122.121512,6.332677,metro
275,1,47.760111,-122.205445,Bothell,WA,47.676893,-122.205983,9.253540,metro
186,1,42.960274,-90.130124,Dodgeville,WI,47.760111,-122.205445,2542.917940,NaN
74,3,43.038902,-87.906474,Milwaukee,WI,42.960274,-90.130124,181.040620,NaN
78,2,43.073052,-89.401230,Madison,WI,43.038902,-87.906474,121.504757,NaN
188,1,43.097217,-89.504288,Middleton,WI,43.073052,-89.401230,8.790087,metro
117,2,44.513319,-88.013296,Green Bay,WI,43.097217,-89.504288,197.756989,NaN

# District Summary

### Calculate District Summary Values

In [156]:
# Calculate number of schools in District
district_schools_count = len(school_data.school_name.unique())

# Calculate total student count in District
district_student_total = student_data.student_name.count()

# Calculate total district budget
district_budget = school_data.budget.sum()

# Calculate average math and reading scores throught District
district_avg_math = student_data.math_score.mean()
district_avg_reading = student_data.reading_score.mean()

# Calculate percentage of students who scored 70% or better
district_pass_math = student_data.loc[student_data['math_score'] >= 70]['math_score'].count()
district_pass_math_percent = (district_pass_math / district_student_total) * 100

district_pass_reading = student_data.loc[student_data['reading_score'] >= 70]['reading_score'].count()
district_pass_reading_percent = (district_pass_reading / district_student_total) * 100

# Calculate the average test score across the District
district_overall_pass_percent = (district_avg_math + district_avg_reading) / 2

NameError: name 'school_data' is not defined

### Display District Summary

In [ ]:
# Build dict to store District summary data calculated above
district_summary = pd.DataFrame({    
    'Total Schools': [district_schools_count],
    'Total Students': [district_student_total],
    'Total Budget': [district_budget],
    'Average Math Score': [district_avg_math],
    'Average Reading Score': [district_avg_math],
    '% Passing Math': [district_pass_math_percent],
    '% Passing Reading':[district_pass_reading_percent],
    '% Overall Passing Rate': [district_overall_pass_percent]})

# Display District summary data to terminal
district_summary

# School Summary

### Calculate School Summary Values

In [ ]:
# Group merged dataframe by school name & set dataframe index to school name
grouped_by_school = school_data_complete.set_index('school_name').groupby('school_name')

# Determine School types
school_types = school_data.set_index('school_name')['type']

# Calculate students per School
school_student_count = grouped_by_school['Student ID'].count()

# Determine each Schools budget
school_budget = school_data.set_index('school_name')['budget']

# Calculate budget per student
school_budget_per_student = school_data.set_index('school_name')['budget'] /\
                            school_data.set_index('school_name')['size']

# Calculate average math & reading scores by School
school_avg_math = grouped_by_school['math_score'].mean()
school_avg_reading = grouped_by_school['reading_score'].mean()

# Calculate percent math & reading passing rates by School
school_pass_math_percent = school_data_complete[school_data_complete['math_score'] >= 70].groupby \
                        ('school_name')['Student ID'].count() / school_student_count * 100

school_pass_reading_percent = school_data_complete[school_data_complete['reading_score'] >= 70].groupby \
                        ('school_name')['Student ID'].count() / school_student_count * 100

# Calculate overall passing rate by School
school_pass_overall_percent = (school_pass_math_percent + school_pass_reading_percent) / 2

### Display School Summary

In [ ]:
# Build dict to store School summary data calculated above
school_summary = pd.DataFrame({
    'School Type': school_types,
    'Total Students': school_student_count,
    'Total School Budget': school_budget,
    'Per Student Budget': school_budget_per_student,
    'Average Math Score': school_avg_math,
    'Average Reading Score': school_avg_reading,
    '% Passing Math': school_pass_math_percent,
    '% Passing Reading': school_pass_reading_percent,
    'Overall Passing Rate': school_pass_overall_percent})

# Display District summary data to terminal
school_summary

# Top Performing Schools by Overall Passing Rate

In [ ]:
# Sort School summary dataframe created above on 'Overall Passing Rate' in descending order
school_summary_sorted_desc = school_summary.sort_values('Overall Passing Rate', ascending=False)

In [ ]:
# Display top 5 rows of School summary sorted above
school_summary_sorted_desc.head(5)

# Bottom Performing Schools by Overall Passing Rate

In [ ]:
# Determine the bottom performing 5 Schools by 'Overall Passing Rate' still in descending order & reverse order
bottom_schools_sorted_desc = school_summary_sorted_desc.tail(5)
bottom_schools_sorted_asc = bottom_schools_sorted_desc.sort_values('Overall Passing Rate')

In [ ]:
# Display bottom 5 rows of School summary (re)sorted above
bottom_schools_sorted_asc

# Average Math Scores by Grade

In [ ]:
# Determine Math scores for each grade by school
grade_09_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['math_score'].mean()
grade_10_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['math_score'].mean()
grade_11_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['math_score'].mean()
grade_12_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['math_score'].mean()

In [ ]:
# Build dict to store average math score summary data calculated above
avg_math_score_by_grade = pd.DataFrame({
                        '9th': grade_09_math,
                        '10th': grade_10_math,
                        '11th': grade_11_math,
                        '12th': grade_12_math})

# Print index header
avg_math_score_by_grade.index.name = 'School Name'

# Display average math score by grade data to terminal
avg_math_score_by_grade

# Average Reading Scores by Grade

In [ ]:
# Determine Reading scores for each grade by school
grade_09_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
grade_10_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
grade_11_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
grade_12_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

In [ ]:
# Build dict to store average Reading score summary data calculated above
avg_reading_score_by_grade = pd.DataFrame({
                        '9th': grade_09_reading,
                        '10th': grade_10_reading,
                        '11th': grade_11_reading,
                        '12th': grade_12_reading})

# Print index header
avg_reading_score_by_grade.index.name = 'School Name'

# Display average reading score by grade data to terminal
avg_reading_score_by_grade

# Scores by School Spending

In [ ]:
# Spending bins and group names given in starter code
spending_bins = [0, 585, 615, 645, 675]
group_names = ['< $585', '$585 - 615', '$615 - 644', '$645-675']

# Add another series to the combined dataframe created above
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/\
                        school_data_complete['size'], spending_bins, labels = group_names)

# Group updated dataframe by spending bins added above
complete_grouped_by_spending = school_data_complete.groupby('spending_bins')

### Calculate School Spending Summary Data

In [ ]:
# Calculate average math & reading score by spending bin
average_math_score_by_spend = complete_grouped_by_spending['math_score'].mean()
average_reading_score_by_spend = complete_grouped_by_spending['reading_score'].mean()

# Calculate students with passing math grades by spend
passing_math_percent_by_spend = school_data_complete[school_data_complete['math_score'] >= 70]\
                        .groupby('spending_bins')['Student ID'].count() / \
                        complete_grouped_by_spending['Student ID'].count() * 100

# Calculate students with passing reading grades by spend
passing_reading_percent_by_spend = school_data_complete[school_data_complete['reading_score'] >= 70]\
                            .groupby('spending_bins')['Student ID'].count() / \
                            complete_grouped_by_spending['Student ID'].count() * 100

# Calculate overall passing percentage by spend
overall_percent_by_spend = (passing_math_percent_by_spend + passing_reading_percent_by_spend) / 2

### Display School Spending Summary Data

In [ ]:
# Build dict to store school spending summary data calculated above
scores_by_school_spending = pd.DataFrame({
    'Average Math Score': average_math_score_by_spend,
    'Average Reading Score': average_reading_score_by_spend,
    '% Passing Math': passing_math_percent_by_spend,
    '% Passing Reading': passing_reading_percent_by_spend,
    'Overall Passing Rate': overall_percent_by_spend})

# Print index header
scores_by_school_spending.index.name = 'Spending per Student'
scores_by_school_spending = scores_by_school_spending.reindex(group_names)

# Display data to terminal
scores_by_school_spending

# Scores by School Size

In [ ]:
# Spending bins and group names given in starter code
size_bins = [0, 1000, 2000, 5000]
group_names = ['Small (<1000)', 'Medium(1000-2000)', 'Large(2000-5000)']

# Add another series to the combined dataframe created above
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], \
                                    size_bins, labels = group_names)

# Group updated dataframe by spending bins added above
complete_grouped_by_size = school_data_complete.groupby('size_bins')

### Calculate Score by School Size Summary Data

In [ ]:
# Calculate average math & reading score by spending bin
average_math_score_by_size = complete_grouped_by_size['math_score'].mean()
average_reading_score_by_size = complete_grouped_by_size['reading_score'].mean()

# Calculate students with passing math grades by spend
passing_math_percent_by_size = school_data_complete[school_data_complete['math_score'] >= 70]\
                        .groupby('size_bins')['Student ID'].count() / \
                        complete_grouped_by_size['Student ID'].count() * 100

# Calculate students with passing reading grades by spend
passing_reading_percent_by_size = school_data_complete[school_data_complete['reading_score'] >= 70]\
                            .groupby('size_bins')['Student ID'].count() / \
                            complete_grouped_by_size['Student ID'].count() * 100

# Calculate overall passing percentage by spend
overall_percent_by_size = (passing_math_percent_by_size + passing_reading_percent_by_size) / 2

### Display Score by School Size Summary Data

In [ ]:
# Build dict to store school spending summary data calculated above
scores_by_school_size = pd.DataFrame({
    'Average Math Score': average_math_score_by_size,
    'Average Reading Score': average_reading_score_by_size,
    '% Passing Math': passing_math_percent_by_size,
    '% Passing Reading': passing_reading_percent_by_size,
    'Overall Passing Rate': overall_percent_by_size})

# Print index header
scores_by_school_size.index.name = 'School Size'
scores_by_school_size = scores_by_school_size.reindex(group_names)

# Display data to terminal
scores_by_school_size

# Scores by School Type

In [ ]:
# Group update dataframe by spending bins added above
complete_grouped_by_type = school_data_complete.groupby('type')

### Calculate Score by School Type Summary Data

In [ ]:
# Calculate average math & reading score by spending bin
average_math_score_by_type = complete_grouped_by_type['math_score'].mean()
average_reading_score_by_type = complete_grouped_by_type['reading_score'].mean()

# Calculate students with passing math grades by spend
passing_math_percent_by_type = school_data_complete[school_data_complete['math_score'] >= 70]\
                        .groupby('type')['Student ID'].count() / \
                        complete_grouped_by_type['Student ID'].count() * 100

# Calculate students with passing reading grades by spend
passing_reading_percent_by_type = school_data_complete[school_data_complete['reading_score'] >= 70]\
                            .groupby('type')['Student ID'].count() / \
                            complete_grouped_by_type['Student ID'].count() * 100

# Calculate overall passing percentage by spend
overall_percent_by_type = (passing_math_percent_by_type + passing_reading_percent_by_type) / 2

### Display Score by School Type Summary Data

In [ ]:
# Build dict to store school spending summary data calculated above
scores_by_school_type = pd.DataFrame({
    'Average Math Score': average_math_score_by_type,
    'Average Reading Score': average_reading_score_by_type,
    '% Passing Math': passing_math_percent_by_type,
    '% Passing Reading': passing_reading_percent_by_type,
    'Overall Passing Rate': overall_percent_by_type})

# Print index header
scores_by_school_type.index.name = 'School Type'

# Display data to terminal
scores_by_school_type